<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <br>
      <br>
      <h1>Welcome Prime member!</h1>
      <h4>We hope you are enjoying the benefits of your membership.<br>
        Please know, if you cancel below, your private wikis will become public</h4>
      <a class="nav-link" href="/users/cancel">
      <button class="btn btn-primary">Cancel Here</button>
      </a>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
